---
name: tests

on:
  pull_request:
    branches: [ main ]

jobs:
  tests:
    runs-on: ubuntu-latest
    env:
      SOURCES_DIR: sources
    strategy:
      matrix:
        just-trigger:
          - "lint"
          - "tests"
        python-version:
          - "3.14"
    steps:
      - uses: actions/checkout@v6
      - uses: extractions/setup-just@v3
      - uses: astral-sh/setup-uv@v7
      - run: uv python install ${{ matrix.python-version }}
      - run: uv sync --all-extras --dev
      - run: just ${{ matrix.just-trigger }}
